Центр непрерывного образования

# Программа «Python для автоматизации и анализа данных»

Неделя 2 - 1

*Татьяна Рогович, НИУ ВШЭ*  

## Последовательности: списки и кортежи

# Списки (list)

Давайте представим, что при написании программы нам нужно работать, например, с большой базой данных студентов университета.

Если студентов несколько сотен, нет смысла создавать для каждого отдельную переменную - нам нужно научиться сохранять их всех в одной переменной. Начиная с этого занятия, мы будем изучать типы данных, которые позволяют это делать.

Начнем мы со **списков**. Если вы изучали другие языки программирования, то наверняка знакомы с аналогичным типом данных - массивами. Как и строки, списки - это последовательности, упорядоченные данные.

Давайте для начала попробуем создать список из 3 студентов.

In [1]:
l = []
l = list()

In [2]:
l = [1, 2, 1.2, 'hey', [1, 2, 3]]

In [3]:
l[0]

1

In [4]:
l[-1]

[1, 2, 3]

In [5]:
l[-1][-1]

3

In [11]:
l[::-1]

[[1, 2, 3], 'hey', 1.2, 2, 1]

In [12]:
l[::-2]

[[1, 2, 3], 1.2, 1]

In [6]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students)
print(type(students))

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
<class 'list'>

Пустой список можно создать двумя способами - оператором [] и функцией list().

In [2]:
print([])
print(list())

[]
[]

In [3]:
a = list()
a

[]

Список может содержать любые данные - например, числа.  
Давайте создадим список оценок студента.

In [8]:
notes = [6, 5, 7, 5, 8]
print(notes)

[6, 5, 7, 5, 8]

Список может быть даже смешанным. Например, давайте сохраним в одном списке имя студента, его год рождения, средний балл, и логическую переменную, которая будет равна True, если студент учится на бюджете.

In [7]:
student1 = ['Ivan Ivanov', 1987, 7.5, True]
print(student1)

['Ivan Ivanov', 1987, 7.5, True]

Список может даже содержать другие списки.  
Давайте создадим еще одного студента по аналогии со student1 и положим этих двух студентов в еще один список.

In [9]:
student2 = ['Maria Smirnova', 1991, 7.9, False]
students = [student1, student2]
print(students)

[['Ivan Ivanov', 1987, 7.5, True], ['Maria Smirnova', 1991, 7.9, False]]

Элементы списков нумеруются, начиная с 0. Мы можем получить доступ к элементу списка по его индексу.

In [10]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students[0]) # первый элемент
print(students[1]) # второй элемент
print(students[-2]) # последний элемент

Ivan Ivanov
Tatiana Sidorova
Tatiana Sidorova

Ксати, индексация работает и в строках. Там отдельными элементами являются символы.

In [15]:
x = 'слово'
print(x[0])
print(x[-1])

с
о

Мы можем узнать длину списка с помощью функции len() (работает и для строк).

In [13]:
students

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

In [16]:
x

'слово'

In [18]:
print(len(students)) # количество элементов в списке students
print(len(x)) # количество символов в строке x

3
5

In [19]:
students[1]

'Tatiana Sidorova'

In [21]:
len(students[1])

16

In [22]:
x

'слово'

In [24]:
x[2] = 'а'

TypeError: 'str' object does not support item assignment

In [26]:
z = 'a' + 'b'

In [27]:
z

'ab'

Но, в отличие от строк, список можно изменить.

In [28]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
students

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

In [31]:
students[0] = 'Ian Pile'
students

['Ian Pile', 'Tatiana Sidorova', 'Maria Smirnova']

In [32]:
'Ian Pile' in students

True

In [34]:
'ian Pile' in students

False

In [35]:
'ian Pile' not in students

True

In [30]:
string = 'ololololol'
string[1] = 'a'

TypeError: 'str' object does not support item assignment

Строки - неизменяемый тип данных, поэтому присвоение символа по индексу не сработает.

Еще одна операция, которая работает со всеми последовательностями - проверка на наличие элемента in и not in. Возвращает True или False.

In [18]:
### students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
# print('Ivan Ivanov' in students)

n = [1,2,3,4]
x = 500
x not in n
# print('Petr' not in students[2])
# print(2 in students)

True

Способ расширить список - метод .append(), который добавляет аргумент в список в качестве последнего элемента.

In [36]:
lst = [0, 1, 2, 3, 4, 'cat', 'dog','cat']

lst.append(5)
# lst = lst.append(5)
print(lst)


lst += [6] # эквивалентное append выражение
print(lst)

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5]
[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5, 6]

In [48]:
lst = [0, 1, 2, 3, 4, 'cat', 'dog','cat']

In [46]:
lst.append(5)

In [47]:
lst

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5]

In [45]:
z = len(lst)
z

8

In [58]:
# lst = 'lst.append(6)''

In [42]:
lst

In [52]:
lst + ['1']

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', '1']

In [53]:
lst

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat']

In [54]:
lst = lst + ['1']

In [56]:
lst += ['1'] # то же самое lst = lst + ['1']

In [57]:
lst

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', '1', '1', '1']

Удалить элемент из списка можно с помощью метода .remove() (без возвращения удаленного элемента) или .pop (с возвращением удаленного элемента).

In [60]:
lst.remove('cat') # аргумент - объект, который ходим удалить
print(lst)

[0, 1, 2, 3, 4, 'dog', '1', '1', '1']

In [61]:
lst.remove('1')

In [63]:
lst

[0, 1, 2, 3, 4, 'dog', '1', '1']

In [68]:
lst[:6] + lst[7:]

[0, 1, 2, 3, 4, 'dog', '1']

In [69]:
lst

[0, 1, 2, 3, 4, 'dog', '1', '1']

In [70]:
lst.pop()

'1'

In [71]:
lst

[0, 1, 2, 3, 4, 'dog', '1']

In [72]:
str(12)

'12'

In [23]:
x = lst.pop(0) # аргумент - индекс объекта. Результат операции можно сохранить в переменную
print(lst)
print(x)

[1, 2, 3, 4, 'dog', 'cat', 5]
0

Поиском в списках занимается метод .index(), который вернет индекс объекта, переданного в качестве аргумента.

In [73]:
lst.append('dog')

In [74]:
lst

[0, 1, 2, 3, 4, 'dog', '1', 'dog']

In [75]:
print(lst.index('dog'))

5

In [76]:
'aaaaahsgagsdja'.count('a')

7

In [78]:
print(lst.count('dog'))

2

In [79]:
lst.count(0)

1

In [15]:

 # находим индекс объекта 'dog'
print(lst[lst.index('dog')]) # используем метод, возвращающий индекс, для обращения к объекту

5
dog

Если говорить еще о полезных методах, то это .count(), который подсчитывает количество элементов и .reverse(), который разворачивает список. Ниже еще отдельно поговорим о сортировке.

In [80]:
b = [1,2,3,4,5]
b.reverse() # b = b[::-1]
b

[5, 4, 3, 2, 1]

In [81]:
 # считаем количество 'dog' в списке
lst.reverse() # разворачиваем список. Осторожно - метод меняет список!
print(lst)

['dog', '1', 'dog', 4, 3, 2, 1, 0]

Все методы списков [здесь](https://docs.python.org/3/tutorial/datastructures.html)

### Сортировки

Отдельно следует рассказать про метод **sort()**. Метод производит сортировку списка.
Задачи сортировки - очень распространены в программировании. 
В общем случае, они сводятся к выстроению элементов списка в заданном порядке.
В Python есть встроенные методы для сортировки объектов для того, чтобы программист 
мог не усложнять себе задачу написанием алгоритма сортировки. 
Метод **list.sort()** - как раз, один из таких случаев.

In [82]:
test_list = [5, 8, 1, 4, 3, 7, 2]
print(test_list)  # Элементы списка расположены в хаотичном порядке
test_list.sort()
print(test_list)  # Теперь элементы списка теперь расположены по возрастанию

[5, 8, 1, 4, 3, 7, 2]
[1, 2, 3, 4, 5, 7, 8]

In [91]:
test_list = [5, 8, 1, 4, 3, 7, 2]

In [92]:
test_list.sort(reverse=True)

In [93]:
test_list

[8, 7, 5, 4, 3, 2, 1]

In [95]:
test_list = [5, 8, 1, 4, 3, 7, 2]

In [96]:
sorted(test_list, reverse=True)

[8, 7, 5, 4, 3, 2, 1]

In [97]:
test_list

[5, 8, 1, 4, 3, 7, 2]

In [33]:
test_list.sort(reverse = True)

In [34]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Таким образом, метод **list.sort()** упорядочил элементы списка test_list
Если нужно отсортировать элементы в обратном порядке, то можно использовать именнованный параметр reverse.

In [19]:
test_list.sort(reverse=True)  # параметр reverse указывает на то, что нужно отсортировать список в обратном порядке
print(test_list)

[8, 7, 5, 4, 3, 2, 1]

Следует обратить внимание, что метод **list.sort()** изменяет сам список, на котором его вызвали. 
Таким образом, при каждом вызове метода "**sort()**", наш список "test_list" изменяется. 
Это может быть удобно, если нам не нужно держать в памяти исходный список. 
Однако, в противном случае, или же - в случае неизменяемого типа данных (например, кортежа или строки) - 
этот метод не сработает. В таком случае, на помощь приходит встроенная в питон функция **sorted()**

In [35]:
print(sorted(test_list))  # Сам список при сортировке не изменяется

[1, 2, 3, 4, 5, 7, 8]

In [36]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Так как sorted() функция, а не метод, то будет работать и с другими типами данных.

In [98]:
print(sorted('something'))

['e', 'g', 'h', 'i', 'm', 'n', 'o', 's', 't']

In [38]:
# print(sorted('something')) отсортирует буквы в строке, но выведет список
print(''.join(sorted('something'))) # с помощью метода join можно собрать отсортированную строку, чуть ниже подробнее про него

eghimnost

У функции sorted(), как и у метода list.sort() есть параметр key, 
с помощью которого можно указать функцию, которая будет применена к каждому элементу 
последовательности при сортировке.

In [111]:
test_string = 'A string With upper AND lower cases'

In [112]:
test_string.split(' ')

['A', 'string', 'With', 'upper', 'AND', 'lower', 'cases']

In [114]:
test_list = test_string.split()

In [115]:
test_list

['A', 'string', 'With', 'upper', 'AND', 'lower', 'cases']

In [116]:
" ".join(test_list)

'A string With upper AND lower cases'

In [117]:
"*".join(test_list)

'A*string*With*upper*AND*lower*cases'

In [106]:
test_string = '.A string. With upper. AND lower cases.'

In [107]:
test_string.split('.')

['', 'A string', ' With upper', ' AND lower cases', '']

In [40]:
print(sorted(test_string.split())) # заглавные буквы получили приоритет над строчными

['A', 'AND', 'With', 'cases', 'lower', 'string', 'upper']

In [20]:


print(sorted(test_string.split(), key=str.upper)) # все буквы были приведены к верхнему регистру, сортировка получилась по алфавиту

['A', 'AND', 'With', 'cases', 'lower', 'string', 'upper']
['A', 'AND', 'cases', 'lower', 'string', 'upper', 'With']

# Кортежи (tuple)

Кортежи очень похожи на списки.

In [118]:
student = ('Ivan Ivanov', 2001, 7.5, True)
print(student)
print(type(student))

('Ivan Ivanov', 2001, 7.5, True)
<class 'tuple'>

In [119]:
t = ()
t = tuple()

In [121]:
t = (1, 2, 3, 4, [1, 2])

In [122]:
t[1] = 999

TypeError: 'tuple' object does not support item assignment

In [125]:
t[-1][0] = 999

In [126]:
t

(1, 2, 3, 4, [999, 2])

In [127]:
t[-1] = [1]

TypeError: 'tuple' object does not support item assignment

In [128]:
t

(1, 2, 3, 4, [999, 2])

In [130]:
tt = t[-1]
tt

[999, 2]

In [131]:
tt[0]

999

In [132]:
t[-1]

[999, 2]

In [133]:
t[-1][0]

999

In [134]:
t[::-1]

([999, 2], 4, 3, 2, 1)

Пустой кортеж можно создать с помощью оператора () либо функции tuple.

In [12]:
print(())
print(tuple())

()
()

In [43]:
x = tuple()
x

()

In [44]:
student

('Ivan Ivanov', 2001, 7.5, True)

Основное отличие кортежей от списков состоит в том, что кортежи нельзя изменять (да-да, прямо как строки).

In [45]:
student[1] = 2002

TypeError: 'tuple' object does not support item assignment

Списки и кортежи могут быть вложены друг в друга.  
Например, пусть в информации о студенте у нас будет храниться не его средний балл, а список всех его оценок.

In [46]:
student = ('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)
print(student)

('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)

In [47]:
student = ('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)
print(student)

('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)

Мы можем обратиться к элементу вложенного списка или кортежа с помощью двойной индексации.

In [49]:
print(student[2][1]) # получили вторую оценку

7

Иногда бывает полезно обезопасить себя от изменений массивов данных и использовать кортежи, но чаще всего мы все-таки будем работать со списками.

# Опасность работы с изменяемыми типами данных

В работе со списками есть важный момент, на который нужно обращать внимание. Давайте рассмотрим такой код:

In [135]:
a = [1, 2, 3]

In [136]:
b = a # указываем на тот же элемент, что и а

In [137]:
b[0] = 4

In [139]:
print(a)
print(b)

[4, 2, 3]
[4, 2, 3]

In [140]:
a = [1, 2, 3]

In [141]:
b = a[:] # делаем копию

In [142]:
b[0] = 4

In [143]:
print(a)
print(b)

[1, 2, 3]
[4, 2, 3]

Почему так происходит?  
Дело в том, что переменная a ссылается на место в памяти, где хранится список [1, 2, 3]. И когда мы пишем, что b = a, b начинает указывать на то же самое место. То есть образуется два имени для одного и того же кусочка данных. И после изменения этого кусочка через переменную b, значение переменной a тоже меняется!

Как это исправить? Нужно создать копию списка a! В этом нам поможет метод .copy()

In [144]:
a = [1, 2, 3]
b = a.copy() # теперь переменная b указывает на другой список, который хранится в другом кусочке памяти
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

Копию можно создавать и с помощью пустого среза

In [145]:
a = [1, 2, 3]
b = a[:] # по умолчанию берется срез от первого элемента до последнего, то есть копируется весь список a
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

In [61]:
a = [1, 2, 3]

[1, 2, 3]

Но не путайте изменение с присваиванием!

In [146]:
a = [1, 2, 3]

In [147]:
b = a

In [148]:
a = [4,5,6]

In [149]:
print(a)

[4, 5, 6]

In [150]:
print(b)

[1, 2, 3]

В примере выше переменная a была не изменена, а перезаписана, она начала указывать на другой список, хранящийся в другом месте памяти, поэтому переменная b осталась нетронута.

### Конкатенация списков и кортежей

На списках и кортежах определен оператор +. По аналогии со строками, он будет склеивать две части выражения.

Но складывать можно только данные одного типа, список с кортежом склеить нельзя.

In [151]:
print([1, 2] + [3, 4])
print((1, 2) + (3, 4))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [152]:
[1, 2] * 2

[1, 2, 1, 2]

In [153]:
print((1, 2) + [3, 4]) # а так нельзя

TypeError: can only concatenate tuple (not "list") to tuple

Но можно превратить список в кортеж, а потом сложить (или наоборот).

In [22]:
print(list((1, 2)) + [3, 4])
print((1, 2) + tuple([3, 4]))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [74]:
x = tuple()
x

()

# Методы .split(), .join(),  функция map(), вывод и ввод списков

При работе со списками довольно часто нам придется вводить их и выводить в отформатированном виде. Сейчас мы рассмотрим несколько методов, которые помогут сделать это в одну строку.

### Метод .split()

Метод строки .split() получает на вход строку-разделитель и возвращает список строк, разбитый по этому разделителю.

По умолчанию метод разбивает строку по пробелу

In [78]:
print('Hello darkness my old friend     !#$@%$^#         bhfdsajklfgdsajk'.split())

['Hello', 'darkness', 'my', 'old', 'friend', '!#$@%$^#', 'bhfdsajklfgdsajk']

In [79]:
print('Ночь. Улица. Фонарь. Аптека'.split('. '))

['Ночь', 'Улица', 'Фонарь', 'Аптека']

### Метод .join()

Метод .join() ведет себя с точностью до наоборот - он склеивает массив в строку, вставляя между элементами строку-разделитель.

In [80]:
print('-'.join(['8', '800', '555', '35', '35']))

8-800-555-35-35

### Функция map()

Функция map() берет функцию и последовательность и применяет эту функцию ко всем ее элементам (map() всегда будет ожидать от вас два аргумента).

Обратите внимание, чтобы увидеть результат работы этой функции надо дополнительно вручную преобразовать в список (или в кортеж, в зависимости от ваших целей).

In [154]:
l = input()

1 2 3 4 5

In [159]:
l

'1 2 3 4 5'

In [160]:
l.split()

['1', '2', '3', '4', '5']

In [170]:
# для я.контеста
list(map(int, l.split()))

[1, 2, 3, 4, 5]

In [164]:
tuple(map(int, l.split()))

(1, 2, 3, 4, 5)

In [162]:
list(map(int, l.split()))[-1] ** 2

25

In [171]:
print(map(bool, [9, 0, 8, -288, 998, 0])) # не совсем то, что надо
print(list(map(bool, [9, None, 8, -288, 998, 0]))) # а теперь работает, каждое число преобразовалось в логическую переменную

<map object at 0x7fe02e75af10>
[True, False, True, True, True, False]

In [173]:
# H из контеста
inp = list(map(int, input().split()))
res = inp[::2]
print(*res)

1 2 3 4 5
1 3 5

In [176]:
print(' '.join(list(map(str, res))))

'1 3 5'

### Ввод и вывод списков

Теперь мы можем быстро вводить и выводить списки, содержащие разные данные через разные разделители.

In [165]:
a = [9, 0, 8, -288, 998, 0]

In [166]:
a

[9, 0, 8, -288, 998, 0]

In [167]:
print(*a)

9 0 8 -288 998 0

In [168]:
print('-'.join(list(map(int, input().split()))))

1 2 3 4

TypeError: sequence item 0: expected str instance, int found

In [169]:
phone = list(map(int, input().split())) # получаем строку, разбиваем по пробелу, сразу преобразуем все элементы в числа
print(phone)
print(' '.join(list(map(str, phone)))) # преобразуем массив чисел в массив строк и склеиваем через дефис

1 2 3 4
[1, 2, 3, 4]
1 2 3 4

Также, если нет задачи сохранить результат в переменную в виде строки, вместо join() можно использовать распаковку. 
Мы ставим оператор * перед списком, и, например, функция print() будет воспринимать его не как список, а как последовательность объектов.

In [51]:
print(phone, sep='-') # не работает, получили список
print(*phone, sep='-') # теперь сработало. По сути, распакованный список питон видит как в примере ниже
print(phone[0], phone[1], phone[2], phone[3], phone[4], sep='-')

[8, 913, 899, 99, 99]
8-913-899-99-99
8-913-899-99-99